.container {

  width: 100%;

  max-width: 1280px;

  margin: auto;

  padding: 20px;

}

.grid-products {

  display: grid;

  grid-template-columns:
    repeat(
      auto-fill,
      minmax(220px,1fr)
    );

  gap: 20px;

}

.sidebar {

  width: 260px;

}
